.featured-post {
  position: relative;
  height: 250px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Generic heading styles */
.featured-post h1,
.featured-post h2,
.featured-post h3,
.featured-post h4 {
  position: absolute;
  margin: 0;
  padding: 0;
}

.featured-post h1 span,
.featured-post h2 span,
.featured-post h3 span,
.featured-post h4 span {
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 10px;
}

.featured-post h2 {
  top: 0;
  left: 0;
  font-size: 40pt;
}

.featured-post h3 {
  top: 0;
  right: 0;
  font-size: 36pt;
}

.featured-post h4 {
  bottom: 0;
  right: 0;
  font-size: 32pt;
}

.featured-post span a {
  color: white;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
